# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=anonymous:anonymous-backend
CONVEX_URL=http://127.0.0.1:3210
CONVEX_SITE_URL=http://127.0.0.1:3211

# SportEasy
SPORTEASY_TEAM_ID=2307567
SPORTEASY_SEASON_ID=2633771